.carousel-wrapper {
    position: relative;
    margin-top: 5rem;
    width: 100vw;
  }
  
  .embla {
    width: 100%;
    overflow: hidden;
  }
  
  .embla__viewport {
    display: flex;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .embla__slide {
    flex: 0 0 100%; 
    box-sizing: border-box;
  }
  
  .embla__slide__img {
    width: 100%; 
    height: 90vh;
    object-fit: cover;
  }
  
@media screen and (max-width: 768px){
   .embla__container{
    padding: 1rem 0;
   }
   .embla__slide__img{
    height: 100%;
   }   
   .carousel-wrapper{
    margin-top: 2rem;
   }
}
